<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Update Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
           
 
            background: linear-gradient(270deg, #1f1c2c, #928dab);
            color: white;
            padding: 20px;
        }
        .container {
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Your task has been added/updated/Deleted successfully!</h1>
        <a href="/all/{{no}}" class="btn btn-dark">Back to details Page</a>
    </div>
</body>
</html>
